<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    {:token()}

    <div class="form-group">
        <label for="c-project_type_ids" class="control-label col-xs-12 col-sm-2">可使用项目板块:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-project_type_ids" data-rule="" data-source="project/project_type/selectpage"
                   data-field="type_name" data-search-field="type_name" data-primary-key="id" data-pagination="true"
                   data-order-by="id" data-multiple="true" data-params='{"custom[status]":"1"}'
                   class="form-control selectpage" name="row[project_type_ids]" type="text" value="">
        </div>
    </div>

    <div class="form-group">
        <label for="c-name" class="control-label col-xs-12 col-sm-2">名称:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text" value="">
        </div>
    </div>

    <div class="form-group">
        <label for="c-period" class="control-label col-xs-12 col-sm-2">期限:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-period" data-rule="required" class="form-control" name="row[period]" type="number" value="">
        </div>
    </div>

    <input type="hidden" name="row[type]" value="1">

    <div class="form-group">
        <label for="c-coupons_number" class="control-label col-xs-12 col-sm-2">优惠金额（元）:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-coupons_number" data-rule="required" class="form-control" name="row[coupons_number]" type="number" value="">
        </div>
    </div>

    <div class="form-group">
        <label for="c-coupons_use_limit" class="control-label col-xs-12 col-sm-2">可使用最低投资金额:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-coupons_use_limit" data-rule="required" class="form-control" name="row[coupons_use_limit]" type="number" value="">
        </div>
    </div>

    <div class="form-group">
        <label for="remark"  class="control-label col-xs-12 col-sm-2">备注:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea class="form-control" id="remark" name="row[remark]"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[status]', ['1'=>__('启用'), '0'=>__('禁用')])}
        </div>
    </div>

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
