<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    {:token()}

    <div class="form-group">
        <label for="c-news_type" class="control-label col-xs-12 col-sm-2">新闻类型:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-news_type" data-rule="required" class="form-control selectpicker" name="row[news_type]">
                {foreach name="newsTypeList" item="vo"}
                <option value="{$key}" {in name="key" value=""}selected{/in}>{$vo}</option>
                {/foreach}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="c-name" class="control-label col-xs-12 col-sm-2">名称:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text" value="">
        </div>
    </div>

    <div class="form-group">
        <label for="c-brief_introduction" class="control-label col-xs-12 col-sm-2">简介:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-brief_introduction" data-rule="required" class="form-control" name="row[brief_introduction]" type="text"
                   value="">
        </div>
    </div>

    <div class="form-group">
        <label for="c-cover_image" class="control-label col-xs-12 col-sm-2">{:__('封面图')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-cover_image" class="form-control" data-rule="required" size="35" name="row[cover_image]" type="text" value="">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="faupload-cover_image" class="btn btn-danger faupload" data-input-id="c-cover_image" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-cover_image"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <!--<span><button type="button" id="fachoose-cover_image" class="btn btn-primary fachoose" data-input-id="c-cover_image" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>-->
                </div>
                <span class="msg-box n-right"></span>
            </div>
            <ul class="row list-inline faupload-preview" id="p-cover_image"></ul>
        </div>
    </div>

    <!--视频-->
    <div class="form-group">
        <label for="c-local" class="control-label col-xs-12 col-sm-2">视频(mp4格式):</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" name="row[video]" id="c-local" class="form-control"/>
            <ul class="row list-inline faupload-preview" id="p-local"></ul>
        </div>
    </div>

    <div class="form-group">
        <label for="c-local" class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="button" id="faupload-local" class="btn btn-primary faupload" data-input-id="c-local" data-multiple="true" data-preview-id="p-local" data-url="{:url('ajax/upload')}"><i class="fa fa-upload"></i> 上传视频</button>
        </div>
    </div>

    <div class="form-group">
        <label for="content"  class="control-label col-xs-12 col-sm-2">新闻详情:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea class="form-control editor" id="content" name="row[content]"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('内容类型')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[content_type]', ['1'=>__('文本'), '2'=>__('视频')])}
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('是否为头条')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[is_headlines]', ['0'=>__('否'), '1'=>__('是')])}
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[status]', ['1'=>__('启用'), '0'=>__('禁用')])}
        </div>
    </div>

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
